html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

/*Menu*/
#menu {
    width: 20%;
    height: 100%;
    position: fixed;
    /*outline: 1px solid;*/
    background: #222629;
    color: white;
}

#headshot {
    width: 30%;
}

/*Main*/
#main {
    width: 80%;
    height: auto;
    /*outline: 1px solid;*/
    position: absolute;
    right: 0;
    /*background: blue;*/
}

#banner {
    width: 100%;

}