/********** UNIVERSAL **********/
html, body {
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: 100;
}

h2 {
    color: #555;
}

p {
    /*color: #9b9c9c;*/
    color: #777;
}

/********** MENU **********/
#menu {
    width: 20%;
    height: 100%;
    position: fixed;
    background: #2c2a2d;
    color: #777;
}

#logo{
    text-align: center;
}

#headshot {
    width: 50%;
    margin-top: 10%;
    border-radius: 25%;
}

#underTitle{
    font-size: 1.5em;
    /*color: white;*/
}

#nav{
    
}

/********** MAIN **********/
#main {
    width: 80%;
    position: absolute;
    right: 0;
    background-color: #eaefef;
}

#top {
    width: 100%;
    height:auto;
    margin: auto;
    text-align:center;
    position:relative;
}

#bannerImage {
    width: 100%;
}

#bannerText {
    position: absolute;
    margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    height: 1.25em;
    color:#fff;
    font-size: 2.5em;
    background-color: rgba(0,0,0,0.5);
}

#portfolio {
    margin-top: 2.5%;
    left: 0;
    right: 0;
}

#portfolio img {
    width:30%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    float: left;
}

.textDiv {
    font-size: 1.5em;
    padding: 10%;
    border-top: groove;
    border-top-color: #fff;
    text-align: center;
}

#about {
    clear: both;
}

/********** CONTACT **********/
#contact a{
    color: #777;
    text-decoration: underline;
}

#contact a:visited {
    text-decoration: underline;
}

#contact a:hover {
    text-decoration: none;
    color: darkred;
}